<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>demoauth11.onmicrosoft.com</ADDomain>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://apiautenticadacalculos.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>apiautenticadacalculos.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ApiAutenticadaCalculos</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ApiAutenticadaCalculos</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADAppIDUri>https://demoauth11.onmicrosoft.com/WebApp-apiautenticadacalculos.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADWebAPIBased>true</ADWebAPIBased>
    <ADClientAPPID>91ed9540-d857-45ab-a388-5ec16b95f88f</ADClientAPPID>
    <ADClientPassword>mcpIz0Wt+vIV2OrRTU9ie4wu2awfNU6vLwAke/1SVHc=</ADClientPassword>
    <ADReplyUrl>https://apiautenticadacalculos.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>24d7dd40-1a62-4dca-9d59-9b0316f63828</ADTenantId>
    <ADPostLogoutRedirectUri />
  </PropertyGroup>
</Project>